@using EM.Model.Entities;
@model List<EM_ExpenseAccount_Detail>
@{
    var IsView = (string)ViewBag.ActionName == "detail";
}
<label>
    <span>报销明细 :</span>
    <table id="FileList" class="table table-hover wp80">
        <thead>
            <tr>
                <th width="20%">费用公司</th>
                <th width="10%">发生日期</th>
                <th width="10%">费用大类</th>
                <th width="20%">金额</th>
                <th width="10%">事由说明</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
                <tr id="NoRow">
                    <td colspan="3" class="taC">暂无数据</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr data-id="@item.Id">
                        <td class="taL">@item.</td>
                        <td class="taL">@item.CreateDate</td>
                        <td class="taL">
                            @if (!IsView)
                            {
                                <a href="javascript:;" onclick="UploadEAFile.DeleteFile(@item.Id)">删除</a>
                            }
                            &nbsp;<a href="~/ExpenseAccount/ViewFile/@item.Id" target="_blank">查看</a>
                        </td>
                    </tr>
                }
            }
            @if (!IsView)
            {
                <tr id="AddRow">
                    <td colspan="3" class="taC">
                        <div class="pRel" id="AddFileForm">
                            <a onclick="UploadEAFile.Show()" >新增记录</a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</label>


