<input type="text" name="EANumber" value="" placeholder="单号">
<input type="text" name="KeyWord" value="" placeholder="关键词">
<select name="IsNotAccount" id="IsNotAccount">
    <option >费用归属</option>
    <option value="0">费用内</option>
    <option value="1">不计入费用</option>
</select>
<select name="IsPublic" id="IsPublic">
    <option>支付方式</option>
    <option value="0">对私</option>
    <option value="1">对公</option>
</select>
@Html.DropDownList("CateId", (SelectList)ViewBag.CateList, "费用大类")
@Html.DropDownList("CompanyId", (SelectList)ViewBag.CompanyList, "公司")
@Html.DropDownList("ApproveStatus", (SelectList)ViewBag.ApproveStatusList, "报销单状态")
@Html.DropDownList("DateType", (SelectList)ViewBag.DateTypeList, "时间筛选")
<input type="text" class="datepicker" placeholder="开始时间" name="SDate" />
<input type="text" class="datepicker" placeholder="结束时间" name="EDate" />

<button class="searchButton" type="submit">搜索</button>