<div id="FileField" style="display:none" class=" p10 pl50">
    <iframe name="if" id="if" class="hidden"></iframe>
    <form target="if" enctype="multipart/form-data" id="AddFile" name="AddFile" method="post" action="../../Upload/PostExpenseAccountFile/0">
        <table class="wp100">
            <tr>
                <td width="20%"></td>
                <td width="80%"></td>
            </tr>
            <tr>
                <td class="size14">选择附件：</td>
                <td class="p5"><input type="file" name="file" id="file" /></td>
            </tr>
            <tr>
                <td class="size14">附件说明：</td>
                <td class="p5"><textarea rows="5" class="wp100" cols="20" name="remark" id="remark" placeholder="必须填写附件说明"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td class="p5"> <button class="btn">上传</button></td>
            </tr>
        </table>
    </form>
</div>