<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>浙江区财务系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Css/base.css" type="text/css" />
    <link rel="stylesheet" href="~/Css/Form.css" type="text/css" />  
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
      @RenderSection("Css", required: false)
</head>
<body>
    <div class="container-fluid p5 c333  ">
        @*<img src="~/Images/Icons/Logo.JPG" class="commonBC wp100 pAbs" />*@ 
        @RenderBody()
    </div>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        Global = {};
    </script>
    <script src="~/Js/Third/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script src="~/Js/common.js" type="text/javascript"></script>
    <script src="~/Js/form.js" type="text/javascript"></script>
    <script src="~/Js/table.js" type="text/javascript"></script>
    <script src="~/Js/Third/layer-v2.0/layer/layer.js" type="text/javascript"></script>
    <script src="~/Js/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Js/jquery.validate.messages_cn.js" type="text/javascript"></script>

    <script type="text/javascript">
        var alert = Global.Utils.ShowMessage;
        Global.Init = function () {
            Global.Form.Init();
            Global.Form.FilterAction(@ViewBag.actionOb);
            Global.Table.Init();
        }

        $(function () {
            Global.Init();
        })
    </script>
    @RenderSection("Js", required: false)

</body>
</html>
