<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>NY报销系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Css/base.css" type="text/css" />
    <link rel="stylesheet" href="~/Css/Main.css" type="text/css" />
</head>
<body>
    <div class="header m10  p10 pl30 ">
        <a>NY报销系统</a>
        @Html.Partial("_LoginPartial")
    </div>
    <div class="body m10">
        @RenderBody()
    </div>
    <div class="footer">
        <p>&copy; 2015 - 老婆的报销系统</p>
    </div>

      <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="~/Js/main.js" type="text/javascript">
    </script>
</body>
</html>
