@using EM.Web.Core;
@{
    var UserId = ViewHelp.GetUserId();
    var UserName = ViewHelp.GetUserName();
}
<span class="userInfo">
     <a class="name"> 您好，@UserName，欢迎您</a>
    <a id="logOff" class="logOff" href="@Url.Action("LogOff","Account")">注销</a>
</span>

   