@{
    ViewBag.Title = "CompanyLimitDetail";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@using EM.Model.VMs  
@using EM.Common;
@using EM.Data.Infrastructure;
@model PagedResult<ExpenseAccountListVM>
<style>
.costInfo .costTitle{color:#D2D2D2}.costInfo .costNumber{color:#1F1F1F}
</style>
<div class="SearchForm">
    <form id="SearchForm" action="@Url.Action("CompanyLimitDetail", "Report")">
        @Html.DropDownList("CateId", (SelectList)ViewBag.CateList)
        @Html.DropDownList("CompanyId", (SelectList)ViewBag.CompanyList)

        <select name="Year"><option value="2016">2016年</option><option selected="selected" value="2017">2017年</option></select>

        <button class="searchButton" type="submit">搜索</button>
    </form>

</div>

<div id="List">
    @Html.Partial("_CompanyLimitDetailList", Model)
</div>