@{
    ViewBag.Title = "AdminWelcome";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@using EM.Model.VMs
@using EM.Common;
@using EM.Data.Infrastructure;
@model PagedResult<CompanyCateLimitVM>
<style>
    .clicking {background:#E7EDFF}
</style>

<div class="SearchForm">
    <form id="SearchForm" action="@Url.Action("AdminWelcome", "Home")">
        @Html.DropDownList("CompanyId", (SelectList)ViewBag.CompanyList, "公司")
        @Html.DropDownList("CateId", (SelectList)ViewBag.CateList, "分类")
        <button class="searchButton" type="submit">搜索</button>
    </form>

</div>

<div id="List">
    @Html.Partial("_List", Model)
</div>

@section Js{
    <script>
        var ShowRestDetailList = function (ob, companyId, CateId) {
            $(".clicking", "#List").removeClass("clicking");
            $(ob).parent().addClass("clicking");
            Global.Form.NewIframe('额度使用明细', 'report_companylimitdetail', '/report/companylimitdetail?CompanyId=' + companyId + '&CateId=' + CateId)
        }

        var ShowRestDetail = function (ob) {
            $(ob).next().removeClass('hidden',200)
        }
        var HiddenRestDetail = function (ob) {
            $(ob).next().addClass('hidden')
        }
    </script>
    }
