@{
    ViewBag.Title = "NY报销系统";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using EM.Model.VMs;
@model List<MenuVM>
<div class="message pt5 h40 ">
    <div class="fl pl10 pt10  ">当前作业：<span id="breadcrumb"></span></div>
    <div class="iframeButton w100 fr hp100 pt5">
        <button class="btn btn-default btn-xs fr" id="refreshIframe" type="button"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>刷新页面</button>
    </div>
</div>
<div class="menu  p0  col-xs-1">
    <ul>
        @foreach (var Menu in Model)
        {
            <li>
                <a class="wp100 fl size20 fL40 pl25">@Menu.Name</a>
                <ul class="hidden">
                    @foreach (var program in Menu.Items)
                    {
                        <li>
                            <a class="wp100 pl30" id="@program.ProgramId" data-url="@program.Url">@program.Name</a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
<div class="content col-xs-11 p5">
    <div class="iframeTags h40 ">
        <span class="leftSlice fl size26 curp mr5 hidden"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></span>
        <div class="TagsCover fl  h40 w300 pRel ">
            <ul class="p0 m0 fl pAbs"></ul>
        </div>
        <span class="rightSlice fr size26 curp ml5 hidden"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></span>
    </div>
    <div class="iframeContents hp100">
        <ul></ul>
    </div>
</div>

