@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
<form method="post" data-role="form" action="" data-beforesave="BeforeSave" class="basic-grey">
    <h1>
        修改密码
        <span></span>
    </h1>
    <label>
        <span>原密码 :</span>
        @Html.Password("OPassword", "", new { placeholder = "原密码", @class = "required" })
    </label>
    <label>
        <span>新密码 :</span> 
        @Html.Password("NPassword","", new { placeholder = "新密码", @class = "required" })
    </label>

    <label>
        <span>确认密码 :</span>
         @Html.Password("CPassword","", new { placeholder = "确认密码", @class = "required" })
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="保存" />
    </label>
</form>
@section Js{
    <script>
        var  BeforeSave=function(){
            if ($("#NPassword").val() != $("#CPassword").val())
                return false
            return true;
        }
    </script>
}
