@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml"; 
}
@using  EM.Model.VMs;
@model List<AccountDetailVM>
@{
    var RoleList = ViewBag.RoleList as List<KeyValueVM>;
}
    <div class="SearchFrom">
        <form id="SearchForm" action="@Url.Action("Index","SystemUser")">
            <input type="text" name="UserName" value="" placeholder="用户名">
            <input type="text" name="LoginEmail" value="" placeholder=" 登录账户">
            <select name="RoleId" class=" ">
                @foreach (var role in RoleList)
                {
                    <option value="@role.Key">@role.Value</option>
                }
            </select>
            <button class="searchButton"  type="submit">搜索</button>
        </form>

    </div>

<div id="List">
    @Html.Partial("_List", Model)
</div>
