<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SmsServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.bizapp.com/WebServiceServer/services/SmsService"
                binding="basicHttpBinding" bindingConfiguration="SmsServiceHttpBinding"
                contract="SmsServiceReference.SmsServicePortType" name="SmsServiceHttpPort" />
        </client>
    </system.serviceModel>
</configuration>